body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #5f9341;
    margin: 0 0 4px 0;
}

button {
    font-weight: bold;
}

#input-btn, #tab-btn {
    padding: 11px 21px;
    border: none;
    background: #5f9341;
    color: white;
    
}

#delete-btn {
    padding: 10px 20px;
    border: 1px solid #5f9341;
    background: white;
    color: #5f9341;
}

ul, a {
    color: #5f9341;
    list-style: none;
    padding: 0;
    margin: 25px 0 0 0;
}

li {
    margin: 8px 0;
}