button {
    padding: 10px 20px;
    background: #dc455e;
    color: white;
    font-weight: bold;border: none;
}

div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}